@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body {
    width: 100%;
    height: 100%;
}

html, .pure-g, .pure-g [class*="pure-u"] {
    font-family: "Open Sans", sans-serif;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.pure-button .icon {
    vertical-align: -10%;
    padding-right: .25em;
}

#logo {
    width: 215px;
    z-index: 10;
}

header {
    background: #eee;
    padding: 15px;
    color: #111;
    width: calc(100% - 30px);
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

header nav.pure-menu-horizontal {
    flex-grow: 2;
    width: auto;
}

header .header-buttons {
    flex-shrink: 0;
}

header .header-buttons .pure-button {
    margin-left: 8px;
    margin-right: 8px;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
    background-color: #d7d7d7;
}

main {
    max-width: 1280px;
    min-width: 480px;
    margin: 10px auto;
    padding: 20px;
}

table {
    width: 100%;
}

.w-box {
    padding: 0 1em;
}

.w-box-left {
    padding-right: 1em;
}

.w-box-right {
    padding-left: 1em;
}

.pure-form-stacked label {
    margin-top: 20px;
}
