@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body, #google-map {
    width: 100%;
    height: 100%;
}

html, .pure-g, .pure-g [class*="pure-u"] {
    font-family: "Open Sans", sans-serif;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.pure-button .icon {
    vertical-align: -10%;
    padding-right: .25em;
}

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f9f9+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    padding: 15px;
    color: #333;
    width: calc(100% - 30px);
    min-width: 650px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

#logo {
    width: 215px;
    z-index: 10;
}

#location-search {
    width: 60%;
    padding-right: 15px;
}

#location-search input {
    font-size: 1.25em;
    line-height: 1.4em;
}

#location-search input[type="text"] {
    width: calc(100% - 3.75em);
    margin-right: 4px;
    color: #333;
}

#location-search button {
    height: 50px;
}

#location-search button svg {
    width: 1.5em;
    height: 1.5em;
}

#organizer-login {
    height: 100%;
    padding-top: .75em;
}

main {
    height: calc(100% - 80px);
    position: relative;
}

#rally-drawer {
    max-width: 360px;
    max-height: calc(100% - 40px);

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    align-content: stretch;

    position: absolute;
    z-index: 5;
    top: 20px;

    background: #fff;
    box-shadow: 0 0 5px #ccc;

    overflow-x: hidden;
    transition-property: all;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

#rally-drawer.hold-open {
    width: 360px !important;
}

#rally-drawer.closed {
	max-width: 20px;
}

.drawer-toggle {
    width: 20px;
    padding-top: 16px;
    text-align: center;
    color: #08232f;
    cursor: pointer;
    flex-shrink: 0;
}

.drawer-toggle:hover {
    background: #7c8fa2;
}

.drawer-toggle:after {
    content: "\00AB";
}

.closed:not(.hold-open) > .drawer-toggle:after {
    content: "\00BB";
}

.drawer-container {
    padding: 15px;
    min-width: 310px; /* 350px - (15*2)px padding - 20px drawer toggle */
}

#rally-drawer h2 {
    margin: 0;
}

#rally-drawer ul, #location-prompt {
    padding-left: 0;
    margin: 1em 0;
}

#rally-drawer li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
}

#rally-drawer li:first-child {
    border-top: 1px solid #ccc;
}

#rally-drawer li > a {
    display: block;
    text-decoration: none;
    padding: 8px 0 8px 4px;
}

#rally-drawer li > a:hover {
    background: #eee;
}

#rally-drawer li > a img {
    border-radius: 100%;
    border: 1px solid #ddd;
    background: #fff;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    vertical-align: -70%;
}

#rally-detail {
    max-width: 340px; /* 360px - 20px drawer toggle */
    z-index: 6;
    background: #fff;

    overflow-x: hidden;
    transition-property: all;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

#rally-detail.closed {
    max-width: 0;
}

#rally-detail .rally-detail-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#rally-detail .rally-detail-desc {
    font-size: 0.9em;
}

#rally-detail .avatar {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #ddd;
    margin-right: 15px;
}

#rally-detail .back-button {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
}

#rally-detail table {
    margin: 20px 0;
}

#rally-detail table td {
    padding: .25em .5em;
}

#rally-detail table td:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}
