@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body, #google-map {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f9f9+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    padding: 15px;
    color: #333;
    width: calc(100% - 30px);
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

#logo {
    width: 215px;
    z-index: 10;
}

#location-search {
    flex-grow: 3;
    padding: 0 30px;
}

#location-search input, #organizer-login {
    font-size: 1.25em;
    line-height: 1.4em;
}

#location-search input[type="text"] {
    width: calc(100% - 8px);
    padding-right: 8px;
    color: #333;
}

#organizer-login {
    margin-right: 30px;
}

main {
    height: calc(100% - 80px);
    position: relative;
}

#rally-list {
    width: 20vw;
    position: absolute;
    z-index: 5;
    top: 20px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 15px;
}

#rally-list h2 {
    margin: 0;
}

#rally-list ul {
    padding-left: 0;
    border-top: 1px solid #ccc;
}

#rally-list li {
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
}
