html, body, #google-map {
    width: 100%;
    height: 100%;
}

header {
    background: #333;
    padding: 15px;
    color: #fff;
    width: calc(100% - 30px);
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

#logo {
    width: 215px;
    z-index: 10;
}

#location-search {
    flex-grow: 3;
    padding: 0 30px;
}

#location-search input, #organizer-login {
    font-size: 1.25em;
    line-height: 1.4em;
}

#location-search input[type="text"] {
    width: calc(100% - 8px);
    padding-right: 8px;
    color: #333;
}

#organizer-login {
    margin-right: 30px;
}

main {
    height: calc(100% - 80px);
}
